name: Jekyll site CI

on:
  push:
  # pull_request:  # turn on when GA tests need to run on PRs too

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.1
    - name: Ruby deps
      run: gem install json kramdown jekyll bundler
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Python deps
      run: pip install pyyaml
    - name: Nokogiri deps
      run: sudo apt install -y pkg-config libxml2-dev libxslt-dev
    - name: Site deps
      run: bundle install
    - name: Build site
      run: bundle exec jekyll build
    - name: Check all lessons
      run: make lesson-check-all
