name: Test recipes

on:
  push:
  pull_request:

jobs:
  build_esmvaltool:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Cache conda
        uses: actions/cache@v1
        env:
          # Increase this value to reset cache if files/recipe_example.yml has not changed
          CACHE_NUMBER: 1
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles('files/recipe_example.yml') }}
      - uses: goanpeca/setup-miniconda@v1
      - name: Install esmvaltool
        run: conda install -n test -y -c esmvalgroup -c conda-forge esmvaltool-python
      - name: Setup config
        run: |
          $CONDA/envs/test/bin/esmvaltool config get_config_user
          patch ~/.esmvaltool/config-user.yml << EOF
          44c44
          < #rootpath:
          ---
          > rootpath:
          48c48
          < #  default: ~/default_inputpath
          ---
          >   default: ~/default_inputpath
          EOF
      - name: Cache datasets
        uses: actions/cache@v1
        env:
          # Increase this value to reset cache if data/dataset.urls has not changed
          CACHE_NUMBER: 0
        with:
          path: ~/default_inputpath
          key: ${{ runner.os }}-datasets-${{ env.CACHE_NUMBER }}-${{ hashFiles('data/dataset.urls') }}
      - name: Download dataset files for episodes 4 and 5
        run: |
          head -4 data/dataset.urls | grep -v '#' | wget --input-file - --no-clobber --directory-prefix $HOME/default_inputpath/

  run_recipes:
    runs-on: ubuntu-20.04
    needs: build_esmvaltool
    strategy:
      matrix:
        recipe: [files/recipe*.yml]
    steps:
      - name: Run ${{ matrix.recipe }}
        run: $CONDA/envs/test/bin/esmvaltool run $PWD/files/${{ matrix.recipe }}
